<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer Name</th>
                <th>Loan Type</th>
                <th>Asked Loan Amount</th>
                <th>Payment Period</th>
                <th>Emi Amount</th>
                <th>Issued Date</th>
                <th>Property Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let registration of loanRegistration">
                <td><a>{{registration.id}}</a></td>
                <td>{{uname}}</td>
                <td>{{registration.loanType}}</td>
                <td>{{registration.askedLoanAmt}}</td>
                <td>{{registration.paymentPeriod}}</td>
                <td>{{registration.emiAmt}}</td>
                <td>{{registration.issuedDate}}</td>
            </tr>
        </tbody>
    </table>
</div>
