<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer Name</th>
                <th>Loan Type</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let registration of loanRegistrations">
                <td><a routerLink="/registeredForm/{{registration.id}}">{{registration.id}}</a></td>
                <td>{{registration.borrowerName}}</td>
                <td>{{registration.loanType}}</td>
                <td>{{registration.status}}</td>
            </tr>
        </tbody>
    </table>
</div>
