.main-body {
    background-color: ghostwhite;
    margin-top: 50px;
    padding: 20px 300px 20px 300px;
    background-image: url('~src/assets/images/SignupBackgroundImg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.error {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

h3 {
    padding: 0px 150px 0px 300px;
}

label {
    padding: 8px 0px 0px 0px;
}

.form-input {
    width: 100%;
    padding: 5px;
    border: transparent;
    border-bottom: 2px solid;
    background-color: transparent;
}

.form-input:focus, .form-input:hover {
    border: 2px solid;
    border-radius: 5px;
    background-color: transparent;
    transition:cubic-bezier(5, 5, 5, 5)
}

input.ng-invalid.ng-touched {
    border: 2px solid;
    border-left: red 5px solid;
    border-radius: 5px;
}

.group {
    margin: 10px;
}

.sub-group {
    padding: 0px 10px 0px 10px;
}

button {
    width: 100%;
    margin: 10px 0px;
}