.container {
    background-color: ghostwhite;
    margin-top: 50px;
    width :unset;
    padding: 20px 300px 20px 300px;
}

.error {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    padding: 0px 150px 0px 300px;
}

label {
    padding: 8px 0px 0px 0px;
}

.form-input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

input.ng-invalid.ng-touched {
    border: red 1px solid;
}

.group {
    margin: 10px;
}

.sub-group {
    padding: 0px 10px 0px 10px;
}

button {
    width: 100%;
    margin: 10px 0px;
}