.container {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 58px;
}

form {
    margin-top: 50px;
    padding: 0px 25px 25px 25px;
    border: black 2px solid;
    background-color: lightyellow;
}

h3 {
    margin: 30px;
    padding: 5px;
    text-align: center;
    font-size: 50px;
}

.error {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
}

label {
    margin: 10px;
    display: inline-block;
    width: 150px; 
    font-size: medium;
}

.form-input {
    padding: 5px;
    border-radius: 5px;
    height: 20px;
    width: 200px;
}

.form-input:focus, .form-input:hover {
    border: 1px solid;
    border-radius: 5px;
    transition:cubic-bezier(5, 5, 5, 5)
}

input.ng-invalid.ng-touched {
    border: 2px solid;
    border-left: red 5px solid;
    border-radius: 5px;
}

.group {
    padding: 5px;
}

.submit {
    text-align: center;
    padding: 10px;
}

button {
    padding: 5px;
    border-radius: 5px;
    background-color: blue;
    font-size: medium;
    font-weight: bold;
    color: white;
    width: 100px;
}

button:hover {
    background-color: red;
}