<div class="container">
    <form #personalInfo=ngForm>
        <h3><strong>Personal Information</strong></h3>
        <div class="group">
            <label for="fname">First Name:*</label>
            <input type="text" id="fname" name="fname" class="form-input" [(ngModel)]="this.borrowerDetails.personalInformation.fname"
                #fname="ngModel" required>
            <div class="error" *ngIf="fname.invalid && (fname.touched || fname.dirty)">
                First Name is required field.
            </div>
        </div>
        <div class="group">
            <label for="lname">Last Name:*</label>
            <input type="text" id="lname" name="lname" class="form-input" [(ngModel)]="this.borrowerDetails.personalInformation.lname"
                #lname="ngModel" required>
            <div class="error" *ngIf="lname.invalid && (lname.touched || lname.dirty)">
                Last Name is required field.
            </div>
        </div>
        <div class="group">
            <label for="aadhaarCard">Aadhaar Card:*</label>
            <input type="text" id="aadhaarCard" name="aadhaarCard" class="form-input"
                [(ngModel)]="this.borrowerDetails.personalInformation.aadhaarCard" #aadhaarCard="ngModel" required>
            <div class="error" *ngIf="aadhaarCard.invalid && (aadhaarCard.touched || aadhaarCard.dirty)">
                Aadhaar Number is required field.
            </div>
        </div>
        <div class="group">
            <label for="panCard">Pan Card:*</label>
            <input type="text" id="panCard" name="panCard" class="form-input" [(ngModel)]="this.borrowerDetails.personalInformation.panCard"
                #panCard="ngModel" required>
            <div class="error" *ngIf="panCard.invalid && (panCard.touched || panCard.dirty)">
                Pan Number is required field.
            </div>
        </div> 
        <div class="group">
            <h4 style="color: white;"><strong>Address:</strong></h4>
            <div class="sub-group">
                <label for="houseNo">House Number:*</label>
                <input type="text" name="houseNo" class="form-input"
                    [(ngModel)]="this.borrowerDetails.borrowerAddress.houseNo" #houseNo="ngModel" required>
                <div class="error" *ngIf="houseNo.invalid && (houseNo.touched || houseNo.dirty)">
                    House Number required field.
                </div>
            </div>
            <div class="sub-group">
                <label for="street">Street:*</label>
                <input type="text" name="street" class="form-input"
                    [(ngModel)]="this.borrowerDetails.borrowerAddress.street" #street="ngModel" required>
                <div class="error" *ngIf="street.invalid && (street.touched || street.dirty)">
                    Street is required field.
                </div>
            </div>
            <div class="sub-group">
                <label for="city">City:*</label>
                <input type="text" name="city" class="form-input"
                    [(ngModel)]="this.borrowerDetails.borrowerAddress.city" #city="ngModel" required>
                <div class="error" *ngIf="city.invalid && (city.touched || city.dirty)">
                    City is required field.
                </div>
            </div>
            <div class="sub-group">
                <label for="state">State:*</label>
                <input type="text" name="state" class="form-input"
                    [(ngModel)]="this.borrowerDetails.borrowerAddress.state" #state="ngModel" required>
                <div class="error" *ngIf="state.invalid && (state.touched || state.dirty)">
                    State is required field.
                </div>
            </div>
            <div class="sub-group">
                <label for="pincode">Pincode:*</label>
                <input type="text" name="pincode" class="form-input"
                    [(ngModel)]="this.borrowerDetails.borrowerAddress.pincode" #pincode="ngModel" required>
                <div class="error" *ngIf="pincode.invalid && (pincode.touched || pincode.dirty)">
                    Pincode is required field.
                </div>
            </div>
        </div>
        <div class="group">
            <button class="btn btn-primary btn-block mb-4" [disabled]="personalInfo.invalid" (click)="save()" type="submit">Save</button>
            <button class="btn btn-primary btn-block mb-4" [disabled]="personalInfo.invalid" (click)="next()" type="submit">Next</button>
        </div>
    </form>
</div>
