
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li,p {
    float: left;
}

p {
    color: white;
    font-size: large;
    margin: 0;
    padding: 0.7em 16px;
    background-color: #333;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}