.main {
    list-style-type: none;
    overflow: hidden;
    background-color: #3a2bc0;
    width: 100%;
    position: static;
  }
  
  /* .dropdown-content {
    display: none;
    position: absolute;
  }
  
  .dropdown:hover, .dropdown-content {
    display: block;
  }
  
  .dropdown-content li {
    float: none;
  } */
  
  li {
    float: left;
    list-style-type: none;
  }
  
  li a, button {
    display: block;
    color: white;
    padding: 20px 20px;
    text-decoration: indigo;
    list-style-type: none;
    font-size: medium;
  
  }
  li a:hover, .dropdown:hover .dropbtn {
  background-color: coral;
  }
  .dropdown-content a:hover {background-color: #f1f1f1;}
  button {
    background-color: #333;
    border: 0;
  }
  
  li a:hover, button:hover {
    background-color: coral;
    border-radius: fit;
  
  }
  .rest
  {
    font-family:garamond;
  }
  .loan
  {
    font-family:Arial ;
  }
  