<div class="container">
    <table>
        <caption><h2><strong>User Profile</strong></h2></caption>
        <tr>
            <td>First Name:</td>
            <td>{{this.borrowerDetails.fname}}</td>
            <td>Last Name:</td>
            <td>{{this.borrowerDetails.lname}}</td>
        </tr>
        <tr>
            <td>Aadhaar Card:</td>
            <td>{{this.borrowerDetails.aadhaarCard}}</td>
            <td>Pan Card:</td>
            <td>{{this.borrowerDetails.panCard}}</td>
        </tr>
        <tr>
            <td><h4><strong>Address:</strong></h4></td>
        </tr>
        <tr>
            <td>House Number:</td>
            <td>{{this.borrowerDetails.borrowerAddress.houseNo}}</td>
            <td>Street:</td>
            <td>{{this.borrowerDetails.borrowerAddress.street}}</td>
        </tr>
        <tr>
            <td>City:</td>
            <td>{{this.borrowerDetails.borrowerAddress.city}}</td>
            <td>State:</td>
            <td>{{this.borrowerDetails.borrowerAddress.state}}</td>
            <td>Pincode:</td>
            <td>{{this.borrowerDetails.borrowerAddress.pincode}}</td>
        </tr>
    </table>
</div>