.container {
    background-color: ghostwhite;
    margin-top: 50px;
}

h2 {
    color:crimson;
}

td {
    padding: 10px;
    margin-left: 10px;
    font-size: medium;
}

table, th, td {
    border: 1px solid black;
    border-radius: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}