<div class="container">
    <div>
        <strong>First Name:</strong>
        <p>{{borrowerDetails.fname}}</p>
    </div>
    <div>
        <strong>Last Name:</strong>
        <p>{{borrowerDetails.lname}}</p>
    </div>
    <div>
        <strong>Phone Number:</strong>
        <p>{{borrowerDetails.phoneno}}</p>
    </div>
    <div>
        <strong>Email Id:</strong>
        <p>{{borrowerDetails.emailId}}</p>
    </div>
    <div>
        <Address>
            <strong>Address:</strong>
            <p>{{borrowerDetails.borrowerAddress}}</p>
        </Address>
    </div>
</div>