.container {
    margin-top: 100px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

caption {
    font-size: large;
}

hr {
    margin-top: 0;
    border: black 2px solid;
}

td,th {
    padding: 15px 15px;
    border: 1px solid;
}

.buttonRow {
    padding: 15px 15px;
    border: 0;
}