<div class="container">
    <table class="zigzag">
        <caption>
            <h4>Loan Details</h4>
            <hr>
        </caption>
        <thead>
        <tr>
            <th class="header">Loan Number</th>
            <th class="header">Loan Type</th>
            <th class="header">Rate Of Interest</th>
        </tr>
      </thead>
        <tr class="loanDetails" *ngFor="let loanDetail of loanDetails">
            <td>{{loanDetail.loanNo}}</td>
            <td>{{loanDetail.loanType}}</td>
            <td>{{loanDetail.rateOfInterest}}</td>
            <div>
                <td class="buttonRow" *ngIf="this.adminRole"><button (click)="updateLoanDetails(loanDetail.id)"
                        class="btn btn-success" type="button">Update</button></td>
                <td class="buttonRow" *ngIf="this.adminRole"><button (click)="deleteLoanDetails(loanDetail.id)"
                        class="btn btn-warning" type="button">Delete</button></td>
            </div>
        </tr>
        <div *ngIf="this.adminRole">
            <td class="buttonRow"><button (click)="addLoanDetails()" class="btn btn-success">Add</button></td>
        </div>
        <div *ngIf="this.errorMessage">{{this.errorMessage}}</div>
    </table>
</div>
