<div class="container">
    <form #registrationForm="ngForm">
        <table>
            <caption>
                <h1><strong>Application Form</strong></h1>
            </caption>
            <tr>
                <th scope="col" colspan="6">
                    <h2><strong>Loan Details</strong></h2>
                    <hr>
                </th>
            </tr>
            <tr>
                <td><label for="loanType"><strong>Loan Type:</strong><b style="color:red">*</b></label></td>
                <td colspan="5">
                    <select class="form-input" id="loanType" name="loanType"
                        [(ngModel)]="this.loanRegistration.loanType">
                        <option>Select Loan Type</option>
                        <option *ngFor="let loanDetail of loanDetails">{{this.loanDetail.loanType}}</option>
                    </select>
                </td>
            </tr>
            <tr *ngIf="!this.adminRole">
                <td><label for="aLoanAmt"><strong>Required Loan Amount:</strong><b style="color:red">*</b></label></td>
                <td colspan="2">Rs. <input type="text" id="aLoanAmt" name="aLoanAmt" class="form-input"
                        [(ngModel)]="this.loanRegistration.askedLoanAmt" #aLoanAmt="ngModel" required></td>
                <td colspan="4" *ngIf="aLoanAmt.invalid && (aLoanAmt.dirty || aLoanAmt.touched)">This Field is required
                </td>
            </tr>
            <tr *ngIf="this.adminRole">
                <td><label for="pLoanAmt"><strong>Provide Loan Amount:</strong><b style="color:red">*</b></label></td>
                <td colspan="2">Rs. <input type="text" id="pLoanAmt" name="pLoanAmt" class="form-input"
                        [(ngModel)]="this.loanRegistration.providedLoanAmt" #pLoanAmt="ngModel" required></td>
                <td *ngIf="pLoanAmt.invalid && (pLoanAmt.dirty || pLoanAmt.touched)">This Field is required</td>
            </tr>
            <tr>
                <td><label for="paymentPeriod"><strong>Payment Period in Month:</strong><b style="color:red">*</b></label></td>
                <td><input type="text" id="paymentPeriod" name="paymentPeriod" class="form-input"
                        [(ngModel)]="this.loanRegistration.paymentPeriod" #paymentPeriod="ngModel" required></td>
                <td colspan="4" *ngIf="paymentPeriod.invalid && (paymentPeriod.dirty || paymentPeriod.touched)">This
                    Field is
                    required</td>
            </tr>
            <tr *ngIf="this.adminRole">
                <td><label for="emiAmt"><strong>EMI Amount:</strong><b style="color:red">*</b></label></td>
                <td colspan="2">Rs. <input type="text" id="emiAmt" name="emiAmt" class="form-input"
                        [(ngModel)]="this.loanRegistration.emiAmt" #emiAmt="ngModel" required></td>
                <td><button
                        (click)="emiCalculation(this.loanRegistration.providedLoanAmt, this.loanRegistration.paymentPeriod, this.loanRegistration.loanType)">Calculate</button>
                </td>
            </tr>
            <tr *ngIf="this.adminRole">
                <td><label for="issuedDate"><strong>Issue Date:</strong><b style="color:red">*</b></label></td>
                <td><input type="date" id="issuedDate" name="issuedDate" class="form-input"
                        [(ngModel)]="this.loanRegistration.issuedDate" #issuedDate="ngModel" required></td>
                <td colspan="4" *ngIf="issuedDate.invalid && (issuedDate.dirty || issuedDate.touched)">This Field is
                    required</td>
            </tr>
            <tr>
                <th scope="col" colspan="6">
                    <h2><strong>Guarantor Details</strong></h2>
                    <hr>
                </th>
            </tr>
            <tr>
                <td><label for="guarantorName"><strong>Name</strong><b style="color:red">*</b></label></td>
                <td><input type="text" id="guarantorName" name="guarantorName" class="form-input"
                        [(ngModel)]="this.loanRegistration.guarantorInfo.guarantorName" #guarantorName="ngModel"
                        required></td>
                <td colspan="4" *ngIf="guarantorName.invalid && (guarantorName.dirty || guarantorName.touched)">This
                    Field is
                    required</td>
            </tr>
            <tr>
                <td><label for="guarantorPhoneNo"><strong>Phone Number:</strong><b style="color:red">*</b></label></td>
                <td><input type="text" id="guarantorPhoneNo" name="guarantorPhoneNo" class="form-input"
                        [(ngModel)]="this.loanRegistration.guarantorInfo.guarantorPhoneNo" #guarantorPhoneNo="ngModel"
                        required></td>
                <td colspan="4"
                    *ngIf="guarantorPhoneNo.invalid && (guarantorPhoneNo.dirty || guarantorPhoneNo.touched)">This Field
                    is required</td>
            </tr>
            <tr>
                <td><label for="guarantorEmailId"><strong>Email Id:</strong><b style="color:red">*</b></label></td>
                <td><input type="text" id="guarantorEmailId" name="guarantorEmailId" class="form-input"
                        [(ngModel)]="this.loanRegistration.guarantorInfo.guarantorEmailId" #guarantorEmailId="ngModel"
                        required></td>
                <td colspan="4"
                    *ngIf="guarantorEmailId.invalid && (guarantorEmailId.dirty || guarantorEmailId.touched)">This Field
                    is required</td>
            </tr>
            <tr>
                <td>
                    <h4><strong>Address:</strong></h4>
                </td>
            </tr>
            <tr>
                <td><label for="houseNo"><strong>House Number:</strong><b style="color:red">*</b></label></td>
                <td><input type="text" id="houseNo" name="houseNo" class="form-input"
                        [(ngModel)]="this.loanRegistration.guarantorInfo.guarantorAddress.houseNo" required></td>
                <td><label for="street"><strong>Street</strong><b style="color:red">*</b></label></td>
                <td colspan="3"><input type="text" id="street" name="street" class="form-input"
                        [(ngModel)]="this.loanRegistration.guarantorInfo.guarantorAddress.street" required></td>
            </tr>
            <tr>
                <td><label for="city"><strong>City</strong><b style="color:red">*</b></label></td>
                <td><input type="text" id="city" name="city" class="form-input"
                        [(ngModel)]="this.loanRegistration.guarantorInfo.guarantorAddress.city" required></td>
                <td><label for="state"><strong>State</strong><b style="color:red">*</b></label></td>
                <td><input type="text" id="state" name="state" class="form-input"
                        [(ngModel)]="this.loanRegistration.guarantorInfo.guarantorAddress.state" required></td>
                <td><label for="pincode"><strong>Pincode</strong><b style="color:red">*</b></label></td>
                <td><input type="text" id="pincode" name="pincode" class="form-input"
                        [(ngModel)]="this.loanRegistration.guarantorInfo.guarantorAddress.pincode" required></td>
            </tr>
        </table>
        <div>
            <button type="submit" [disabled]="registrationForm.invalid" (click)="submit()">Submit</button>
        </div>
    </form>
</div>
