.container {
    background-color: ghostwhite;
    margin-top: 50px;
    width: unset;
    padding: 20px 20px 20px 10px;
}

form {
    background-color: darkseagreen;
    padding: 50px;
}

h1 {
    color: crimson;
    padding: 0px 150px 0px 350px;
}

h4 {
    margin-bottom: 0;
}

hr {
    margin: 0;
    background-color: black;
}

.group {
    padding: 10px 10px 10px 20px;
}

.sub-group {
    margin: 15px 10px 15px 30px;
}

.sub-sub-group {
    margin: 15px 10px 15px 1px;
}

.form-input {
    padding: 5px;
    border-radius: 5px;
    border-color: aliceblue;
}

.error {
    background-color: bisque;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    padding: 8px 0px 0px 0px;
}

button{
    width: 100%;
    margin: 10px 0px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rebeccapurple;
    font-size: medium;
    color: whitesmoke;
}

button:hover {
    background-color: chocolate;
}

td {
    padding: 10px;
    margin-left: 10px;
    font-size: larger;
}