.main {
    background-color: aqua;
    width: 20%;
    padding: 10px 10px 10px 10px;
    margin: 100px 50px 50px 50px;
    float: right;
}

div {
    margin: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    background-color: transparent;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

input:focus, input:hover {
    padding: 10px;
    border-radius: 1rem;
    border-color: cadetblue;
}

a {
    text-decoration: none;
}